* {
	margin: 0;
	padding: 0;
	text-align: left;
}
.ui-layout-pane {
	overflow: auto;
}
.ui-layout-toggler-south {
	display: none !important;
}
.ui-data-toggler-south {
	display: block;
}
.ui-layout-north {
	margin: 0;
	padding: 0;
}
.ui-layout-west {
	overflow: hidden;
}
.ui-layout-south {
	height: 32px !important;
	overflow: hidden;
}
.ui-layout-center {
	padding: 5px;
}
.ui-layout-content {
	overflow: auto;
	padding: 0;
}
.ui-layout-pane-center {
	padding: 0;
}
.ui-layout-data-center {
	overflow: hidden;
}
#screenContent{
    margin-top: 30px !important;
    height: auto !important;
}
.ui-layout-data-south {
	overflow: hidden;
}
.ui-layout-data-south .ui-tabs-nav {
	padding: 0;
}
.header {
	overflow: hidden;
	padding: 1px 1px 2px;
	position: relative;
	text-align: center;
}
.footer {
	overflow: hidden;
	padding: 1px 5px 3px 10px;
	position: relative;
	text-align: left;
}
#screen-pane-buttons {
	position: absolute;
	right: 0;
	top: 3px;
}
#screen-pane-buttons button {
	padding: 2px 0;
}
#tab-history {
	line-height: 1.5em;
	padding: 6px;
}
#tab-messages, #tab-info {
	line-height: 1.2em;
	padding: 6px;
}
#dblist {
	height: 21px;
	vertical-align: middle;
}
#dblist option {
	padding: 1px 7px 2px;
}
#editToolbar {
	-moz-border-radius: 3px;
	display: none;
	padding: 4px;
	position: absolute;
	z-index: 20000;
}
#editToolbar .tb-header {
	padding: 3px 6px;
}
#editToolbar .tb-row {
	padding: 5px 6px;
}
#inplace-text {
	-moz-border-radius: 3px;
	display: none;
	padding: 5px;
	position: absolute;
	z-index: 20000;
}
#inplace-text textarea {
	height: 140px;
}
#sql-history tr td {
	cursor: default;
	padding: 1px;
}
#sql-history .dt {
	padding-right: 10px;
}
div.sql-text {
	line-height: 1.5em;
	margin: 3px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 6px;
}
div.message {
	line-height: 24px;
	margin: 3px;
	overflow: auto;
	padding: 2px 10px;
}
#main_header {
	overflow: auto;
	padding: 5px 5px 4px;
}
#main_header .logo {
	float: left;
}
#main_header .title {
	float: left;
}
#main_header .title .main {
	margin: 3px 10px 3px 8px;
}
#main_header .title .version {
	margin: 5px 10px 2px 30px;
}
#main_header .info {
	float: right;
	margin: 0;
	padding: 5px 10px;
	width: auto;
}
#main_header .updates {
	display: none;
	float: right;
	margin: 5px 15px 0 0;
	padding: 5px 10px;
	width: auto;
}
#timeCounter {
	width: 110px;
}
#recordCounter {
	width: 110px;
}
#modifyFlag {
	text-align: center;
	width: 24px;
}
#messageContainer div.note {
	float: left;
}
#pagingContainer {
	text-align: right;
}
#pagingContainer a {
	margin-left: 5px;
	padding: 1px 3px;
	text-decoration: none;
}
#pagingContainer span.page {
	margin-left: 5px;
	padding: 1px 3px;
	text-decoration: none;
}
#pagingContainer select {
	margin-left: 5px;
	padding: 1px 3px;
	width: 60px;
}
#commandEditor, #commandEditor2, #commandEditor3 {
	height: 100%;
	overflow: auto;
	padding: 2px;
	position: absolute;
	width: 100%;
}
.heading1 {
	clear: both;
	margin-top: 10px;
	padding: 5px;
}
.heading2 {
	clear: both;
	margin-top: 10px;
	padding: 5px;
}
.label {
	float: left;
	margin-top: 4px;
	padding: 5px;
	width: 20%;
}
.hinfo {
	margin-bottom: 3px;
	margin-top: 3px;
	overflow: auto;
}
.info {
	float: left;
	margin-top: 4px;
	padding: 5px;
	width: 24%;
}
div.code-editor {
	margin: 5px;
	padding: 0;
}
textarea.text-editor {
	height: 100%;
	line-height: 1.4em;
	padding: 10px;
	width: 97%;
}
form {
	display: inline;
	margin: 0;
}
input[type=text], input[type=password] {
	padding: 3px;
	width: 190px;
}
input[type=button], input[type=submit] {
	min-width: 100px;
	padding: 3px;
	text-align: center;
}
hr {
	height: 2px;
	margin-bottom: 5px;
	margin-top: 5px;
}
label {
	display: inline-block;
	margin: 0 5px 0 0;
	vertical-align: baseline;
}
label.right {
	display: inline-block;
	margin: 0 0 0 5px;
	vertical-align: bottom;
}
fieldset {
	margin: 5px 0;
	padding: 2px;
}
legend {
	margin: 0 5px;
	padding: 5px;
}
#nav_bar {
	display: none;
	height: 21px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
#nav_bar button {
	float: right;
	margin-right: 3px;
}
#loader {
	display: table;
	height: 12px;
	margin: 1px 1px 0 0;
	padding: 3px 5px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
div.padded {
	padding: 10px;
}
.CodeMirror-line-numbers {
	line-height: 1.2em;
	padding: 4px 10px 4px 5px;
}
.cm-s-default span {
	line-height: 1.2em;
}
.CodeMirror-gutter-text {
	line-height: 1.5em;
}
a.btn {
	text-decoration: none;
}
#editor_container, #editor_container2, #editor_container3 {
	bottom: 0;
	left: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: left;
	top: 25px;
}
div#results-div {
	bottom: 25px;
	left: 1px;
	overflow: auto;
	padding: 0;
	position: absolute;
	right: 2px;
	top: 26px;
}
div#rec_pager {
	bottom: 0;
	display: block;
	height: 24px;
	line-height: 18px;
	margin: 0 -1px;
	padding: 0;
	position: absolute;
	width: 100%;
}
div#messages-div {
	bottom: 2px;
	left: 1px;
	overflow: auto;
	padding: 0;
	position: absolute;
	right: 2px;
	top: 28px;
}
div#info-div {
	bottom: 2px;
	left: 1px;
	overflow: auto;
	padding: 0;
	position: absolute;
	right: 2px;
	top: 28px;
}
#tab-info .message {
	position: absolute;
	top: 24px;
	left: 0;
	right: 0;
}
#db_combo {
	height: 21px;
	left: 0;
	margin: 0;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
}
#db_combo span {
	display: block;
	padding: 4px 5px;
}
#object_list {
	bottom: 22px;
	left: 0;
	margin: 0;
	overflow: auto;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: left;
	top: 24px;
}
#object-filter {
	bottom: 0;
	left: 0;
	padding: 2px;
	position: absolute;
	right: 0;
}
#object-filter-text {
	height: 14px;
	padding: 1px 3px;
	width: 97%;
}
div#popup_wrapper {
	height: 100%;
	overflow: hidden;
	width: 100%;
}
div#popup_contents {
	bottom: 65px;
	left: 0;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 0;
}
div#popup_footer {
	bottom: 25px;
	height: 40px;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
}
div#popup_buttons {
	padding: 6px 15px;
	text-align: right;
}
div#popup_buttons select {
	height: 21px;
	vertical-align: middle;
}
div#popup_buttons select option {
	padding: 1px 4px 2px;
}
#sql-editor-pane {
	padding: 0;
}
#blob-holder {
	height: 100%;
	overflow: auto;
	width: 100%;
}
#blob-data {
	padding: 20px 60px 20px 20px;
}
#screen-wait {
	z-index: 10000;
}
#screen-wait div {
	margin: 300px auto;
	width: 65px;
}
#screen-wait div span {
	display: block;
	margin: 0 0 15px;
}
#screen-wait div img {
	display: block;
}
#popup_overlay {
	z-index: 10000;
}
#popup_overlay div {
	margin: 150px auto;
	width: 65px;
}
#taskbar {
	padding: 3px 2px;
}
#taskbar .min-all {
	float: right;
	padding-left: 12px;
}
body {
	scrollbar-3dlight-color: rgb(221,221,221);
	scrollbar-arrow-color: rgb(102,102,102);
	scrollbar-base-color: rgb(102,102,102);
	scrollbar-darkshadow-color: rgb(170,170,170);
	scrollbar-face-color: rgb(238,238,238);
	scrollbar-highlight-color: rgb(255,255,255);
	scrollbar-shadow-color: rgb(221,221,221);
	scrollbar-track-color: rgb(238,238,238);
}
#dialog-text-editor #text-editor {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
